.topcanvas {
  position: relative;
  z-index: 1;
}

.bottomcanvas {
  position: fixed;
  top: 500px;
  left: 20%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: right;
}

@media (max-width: 768px) {
  .bottomcanvas {
    left: 10px;
    transform: none;
  }
}

.backbutton {
  width: 75px;
  height: 20px;
  background: rgb(255, 255, 255);
  transition: width 0.5s;
  cursor: pointer;
}

.backbutton:hover {
  width: 200px;
  transition: width 0.5s;
}
